<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CACFP Training Portal</title>
        <link rel="icon" type="image/x-icon" href="./media/favicon.ico"/>
        <link rel="stylesheet" href="styles/normalize.css">
        <link rel="stylesheet" href="styles/main.css">
    </head>

    <body>
        
        <noscript>
            <div class="content is-large my-padding-2-top">
                <h3 class="has-text-dark">It appears that Javascript is not enabled on your browser.</h3>
                <p>This site uses scripts for the interactive quiz at the end and will not work without scripts.</p>
            </div>
        </noscript>

        <div id="vue-app">
            <!-- start vue-instance-wrapper -->
            <div>

                <nav class="navbar" role="top navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="#" aria-label="return to beginning">
                            <img src="./media/cacfp-logo-nav-light.png" width="78" height="70" alt="NC CACFP logo">
                        </a>
                        <div
                            @click="sideMenuHandler('course', course, key)" 
                            class="title is-size-7-mobile is-size-4 has-text-white navbar-item">
                            Completing a Corrective Action Document
                        </div>
                    </div>
                    <div class="navbar-menu is-active">
                        <div class="navbar-end is-flex">
                            <a href="./media/transcript-print.pdf" target="_blank" aria-label="download PDF" class="navbar-item is-flex is-size-4">
                                <img 
                                    class="my-icon-medium"
                                    src="./media/images/pdf.svg"
                                    alt="image of a document">
                                <p class="has-text-white">PDF</p>
                            </a>
                            <a href="./media/transcript-audio.mp3" target="_blank" aria-label="download MP3" class="navbar-item is-flex is-size-4">
                                <img 
                                    class="my-icon-medium"
                                    src="./media/images/mp3.svg"
                                    alt="image of a document">
                                <p class="has-text-white">MP3</p>
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="columns is-marginless min-height-full">
                    <main-content
                        section-reference='content-one'
                        audio-src="./media/audio/3.mp3" 
                        v-bind:passed-state='state'>
                        <div class="columns my-padding-2-top">   
                            <div class="column is-7">
                                <!-- make a named slot -->
                                <div class="notification my-background-image">
                                    <h1 class="title is-size-4-mobile is-size-1 has-text-white">Child and Adult Care Food Program</h1>
                                    <h2 class="subtitle has-text-white">NC CACFP Nutrition Training and Policy Team</h2>
                                </div>
                                <div class="content is-large has-text-grey-dark">
                                    <h1 >How to navigate this course</h1>
                                    <p>
                                        Use the <strong>menu</strong> on the right to navigate to the various sections of this training. 
                                        The <strong>PRINT</strong> button along the top of your screen will download a text only transcript 
                                        of this training. The <strong>LISTEN</strong> button along the top of your screen will download 
                                        an audio only MP3 version of this training.
                                    </p>
                                </div>
                            </div>
                            <div class="column is-offset-1">
                                <!-- make a named slot -->
                                <img class="box" src="#" alt="SUPER cool image">
                            </div>
                        </div>
                    </main-content>
                    
                    <side-menu 
                        v-bind:passed-template='template' 
                        v-bind:passed-state='state' 
                        v-on:emit-state="setState"
                        v-on:emit-slider="setMediaOptions"
                        v-on:emit-media-manager="manageMedia"
                        inline-template>
                        <div class="column is-2 is-inline-block is-2 side-menu">
                            <nav role="menu" class="menu" aria-label="section navigation">
                                <div v-for="(label, key) in passedTemplate">
                                    <p class="menu-label my-padding-2-top is-size-5">{{ label.labelName }}</p>
                                    <ul v-for="(item, key) in label.items" class="menu-list" role="menu">
                                        <li><a @click="sideMenuHandler(item.listId)" v-bind:id="item.listId + 'Selector'" class="is-size-6" tabindex="0" role="menuitem">{{item.listName}}</a></li>  <!-- class="is-active" -->
                                    </ul>
                                </div>
                                <div class="level is-flex my-padding-2-top top-bordered">
                                    <span class="level-item my-pad-horizontal-1">Play Audio</span> 
                                    <button @click="sliderHandler('audio')" class="slider level-item">
                                        <div id='audio-slider-fill' class="slider__fill"></div>
                                        <p id='audio-slider-label' class="slider__label text text_uppercase">off</p>
                                        <div id='audio-slider-knob' class="slider__knob"></div>
                                    </button>
                                </div>
                            </nav>
                        </div>
                    </side-menu> 
                </div>

                <footer class="footer">
                    <div class="content is-large has-text-centered">
                      <p>
                        <strong>North Carolina Child and Adult Care Food Program</strong>
                        <br>Nutrition Training and Policy Team
                      </p>
                    </div>
                </footer>

            <!-- end vue-instance-wrapper -->
            </div>
        </div>
        <script type="text/javascript" src="scripts/polyfills.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/CSSRulePlugin.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/Draggable.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/MotionPathPlugin.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/TextPlugin.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/ScrollToPlugin.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        
        <script type="text/javascript" src="scripts/main.js"></script>
    </body>
</html>